body{
    background-color: #ff9fb5;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 36px;
    margin: 0;
    gap: 48px;
}
nav a{
    text-decoration: none;
    color: #f5d8a0;
    font-size: 32px;
}
header{
    background-color: #a0233d;
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 100px;
}
.section1{
    text-align: center;
    padding: 80px 20px;
}
.section1 h1{
    font-size: 48px;
    color: #a0233d;
}
.section1 p{
    font-size: 24px;
    color: white;
}