body{
    background-color: #FBF4B0;
    margin: 0;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 36px;
    margin: 0;
    gap: 48px;
}
nav a{
    text-decoration: none;
    color: #FBF4B0;
    font-size: 32px;
}
header{
    background-color: #5c0101;
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 100px;
}
.section1{
    text-align: center;
    padding: 80px 20px;
}
.section1 h1{
    font-size: 48px;
    color: #b91d2d;
}
.section1 p{
    font-size: 20px;
    color: #5c0101;
}
.douceur-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
    padding: 20px 80px;
    background-color: #ffa29d;
}
.card{
    width: 240px;
    background-color: #FBF4B0;
    padding: 16px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    color: #5c0101;
}
